html {
  font-size: 62.5%; // http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
  margin: 0 0;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

// .examples {
//   color: map-get($colors, text);
//   z-index: map-get($z-index, content);
//   width: $mobile-bleed;
// }