/* This is an auto-updated file, touch at your own peril */

@import '../UBody/UBody.pcss';
@import '../UTplHome/UTplHome.pcss';
@import '../MSVGXLink/MSVGXLink.pcss';
@import '../UTplBasicPage/UTplBasicPage.pcss';
@import '../UTpl404/UTpl404.pcss';
@import '../MFooter/MFooter.pcss';
@import '../MHeader/MHeader.pcss';
@import '../MLogo/MLogo.pcss';
