// ***************************************************************************
// RESPONSIVE DESIGN BREAKPOINTS
// Separate with commas
// to be used in conjunction with '@mixin for-breakpoint(n)' found in sass/custom/mixins/_responsive.scss
// ***************************************************************************

$breakpoints: 320px, 480px, 620px, 800px, 940px, 1100px, 1200px;
$media-query-breakpoints: (
  mobile-xs      : 320px,
  mobile-sm      : 375px,
  mobile-md      : 480px,
  mobile-lg      : 620px,
  tablet-sm      : 720px,
  tablet         : 800px,
  tablet-lg      : 940px,
  desktop-sm     : 1024px,
  desktop        : 1100px,
  desktop-md     : 1200px,
  desktop-lg     : 1300px
);

// ***************************************************************************
// Z-indexes
// ***************************************************************************

$z-index: (
  tooltip            : 6000,
  modal              : 5000,
  navigation         : 2000,
  stickyheader       : 1000,
  content            : 500
);

// ***************************************************************************
// Folders
// ***************************************************************************

$themeName: 'polaner2';
$assetsFolder: '/sites/all/themes/#{$themeName}/uneets/dist/assets/';
$imgsFolder: '#{$assetsFolder}imgs/';
$svgMapFile: '#{$imgsFolder}svg-map.svg';

// ***************************************************************************
// Colors
// ***************************************************************************

$color01: #000; // black
$color02: #fff; // white
$color03: #b5ab4d; // gold
$color04: #3d3d3d; // text gray
$color05: lighten($color01, 60%); // text light gray
$color06: #757575; // arrow gray

// ***************************************************************************
// Measures
// ***************************************************************************

$mobile-bleed: 22px;
$mobile-gutter: 15px;

$desktop-bleed: 15px;
$desktop-gutter: 20px;
$desktop-column-width: 80px;

$desktop-max-width: 1200px;
$pages-max-width: 1010px;

// ***************************************************************************
// Fonts
// ***************************************************************************

// $font-family-serif: "TSG-Merriweather", serif;
// $font-family-sans: "TSG-Montserrat", sans-serif;
$font-family-serif: "Lora", serif;
$font-family-sans: "Quicksand", sans-serif;

// ***************************************************************************
// Time
// ***************************************************************************

$transTime: 300ms;

// ***************************************************************************
// Cross uneet variables
// ***************************************************************************

$mobileHeaderHeight: 78px;
$desktopHeaderHeight: 159px;
