
// Import!
// https://github.com/postcss/postcss-import

@import '_helper.pcss';


// Simple Vars!
// https://github.com/postcss/postcss-simple-vars

$color01: #fff;



body {
  
// color mod replaces color functions: 
// https://github.com/jonathantneal/postcss-color-mod-function

  background-color: color-mod($color01 shade(50%)); 

// Nested!
// https://github.com/postcss/postcss-nested
  
  h1 {
    color: #000;
    
  }
}

// PX to REM!
// https://github.com/cuth/postcss-pxtorem

html {
  font-size: 16px;
}

h1 {
  font-size: 32px;
  line-height: 1em;
}

h2 {
  // Done with Mixins!
  // https://github.com/jonathantneal/postcss-advanced-variables
  // (This plugin has a lot more to use, so check it out
  @include thisIsAMixinWithoutVars();
}

h3 {
  @include thisIsAMixinWithVars(14px, 1.2em);
}

h4 {
  @include thisIsAMixinWithVarsAndDefaults(14px); // this does work with default values
}

div.someDiv {
  @include using-mapget(mobile-sm); // this does not work with default values
}

// postcss-comment (PARSER)
// https://github.com/zoubin/postcss-comment
// This is/was a single line comment!
