
// ------------------------------------------------
// RESPONSIVE DESIGN BREAKPOINTS
// Separate with commas
// to be used in conjunction with '@mixin for-breakpoint(n)' found in sass/custom/mixins/_responsive.scss
// ------------------------------------------------

$media-query-breakpoints: (
  mobile-xs: 320px,
  mobile-sm: 375px,
  mobile-md: 480px,
  mobile-lg: 620px,
  tablet-sm: 720px,
  tablet-md: 800px,
  tablet-lg: 940px,
  desktop-sm: 1100px,
  desktop-md: 1200px,
  desktop-lg: 1350px,
  desktop-xlg: 1500px,
  desktop-xxlg: 1600px
);

// ------------------------------------------------
// Z-indexes
// ------------------------------------------------

$z-index: (
  tooltip: 6000,
  modal: 5000,
  nav: 2000,
  stickyheader: 1000,
  content: 500
);

// ------------------------------------------------
// Folders
// ------------------------------------------------

$assetsFolder: /content/themes/cfc-theme/uneets/dist/assets;
$webfontsFolder: $assetsFolder/webfonts;
$imgsFolder: $assetsFolder;
$svgMap: $assetsFolder/stack/svg/sprite.stack.svg;

// ------------------------------------------------
// Colors
// ------------------------------------------------

$colors: (
  black:  #000,
  white:  #fff,
  text:   #4E4E4E,
  orange: #F4744E,
  red:    #D36342,
  blue:   #2A98EF,
);

// ------------------------------------------------
// Measures
// ------------------------------------------------

$mobile-bleed: 0px;
$tablet-bleed: 0px;
$desktop-bleed: 0px;
$desktop-max-width: 1440px;

// ------------------------------------------------
// Time
// ------------------------------------------------

$transTime: 150ms;

// ------------------------------------------------
// Cross uneet variables
// ------------------------------------------------
