
// ------------------------------------------------
// RESPONSIVE DESIGN BREAKPOINTS
// Separate with commas
// to be used in conjunction with '@mixin for-breakpoint(n)' found in sass/custom/mixins/_responsive.scss
// ------------------------------------------------

$bps: (
  mobile-xs: 320px,
  mobile-sm: 375px,
  mobile-md: 480px,
  mobile-lg: 620px,
  tablet-sm: 720px,
  tablet-md: 800px,
  tablet-lg: 940px,
  desktop-sm: 1100px,
  desktop-md: 1200px,
  desktop-lg: 1350px,
  desktop-xlg: 1500px,
  desktop-xxlg: 1600px
);

// ------------------------------------------------
// Measures
// ------------------------------------------------

$mobile-bleed: 16px;
$tablet-bleed: 20px;
$desktop-bleed: 25px;
$desktop-max-width: 1100px;

// ------------------------------------------------
// Z-indexes
// ------------------------------------------------

$z-index: (
  tooltip: 6000,
  modal: 5000,
  nav: 2000,
  stickyheader: 1000,
  content: 500
);

// ------------------------------------------------
// Font Families
// ------------------------------------------------

$ffmain: 'mr-eaves-xl-modern';
$ffnarrow: 'mr-eaves-xl-modern-narrow';

// ------------------------------------------------
// Font Sizes
// ------------------------------------------------

$fzs: (
  2xs:  7.111px,  // modular scale
  xs:   10.667px, // modular scale
  s:    12px,  // modular scale
  base: 16px,  // modular scale
  demi: 20px,  // modular scale
  reg:  22px,  // modular scale
  m:    28px,  // modular scale
  l:    34px,  // modular scale
  xl:   48px,
  2xl:  54px,  // modular scale
  3xl:  63px,
  4xl:  68px,
  5xl:  81px  // modular scale
);

// ------------------------------------------------
// Colors
// ------------------------------------------------

$colors: (
  black:  #000,
  white:  #fff,
  text:   #333333,
  base:   #555656,
  highlight1: #F0DE33
);

// ------------------------------------------------
// Time
// ------------------------------------------------

$transTime: 150ms;

// ------------------------------------------------
// Folders
// ------------------------------------------------

$assetsFolder: /themes/novomer/uneets/dist/assets;
// $webfontsFolder: $assetsFolder/webfonts;
$imgsFolder: $assetsFolder/images;
$svgMap: $assetsFolder/stack/svg/sprite.stack.svg;

// ------------------------------------------------
// Cross uneet variables
// ------------------------------------------------

$navBreakpoint: tablet-sm;
$navWidth: 40vw;
$navWidth_tablet-sm: 260px;