/*!
Theme Name: CFC Theme
Theme URI: https://goodfolk.agency/
Author: GoodFolk LLC
Author URI: https://goodfolk.agency/
Description: Gutenberg ready theme for "Chiefs for Change"
Requires at least: WordPress 5.x
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cfctheme

Setup by Diego Ferreyra.
*/
