/* MLogo */
@mixin m_logo--dimensions() {
  $m_logo--width: 50px;
  width: $m_logo--width;
  height: calc($m_logo--width * 1.2);
  @include for-bp(tablet-md){
    width: 80px;
    height: calc($m_logo--width * 1.2);
  }
}

h1.m_logo {
  margin: 0;
  > a {
    display: block;
    overflow: hidden;
    @include m_logo--dimensions();
    > svg {
      width: 100%;
      @include m_logo--dimensions();
    }
  }
}
