body.u_body {
  box-sizing: border-box;
  @include ff-sans;
  color: $color04;
  font-weight: 400;
  h1, h2, h3 {
    @include ff-sans;
  }
  h4, h5, h6 {
    @include ff-serif;
  }
  #toolbar {
    display: none; // hides Drupal toolbar
  }
  *, input, textarea, button {
    box-sizing: border-box;
    @include ff-sans;
  }
  > div.header-container {
    position: fixed;
    width: 100%;
    z-index: z-index(stickyheader);
    background-color: $color02;
    @include for-print() {
      position: relative;
    }
  }
  > div.body-content-area {
    padding-top: $mobileHeaderHeight;
    position: relative;
    background-color: $color02;
    z-index: z-index(content);
    @include for-media-query(tablet-lg) {
      padding-top: $desktopHeaderHeight;
    }
    @include for-print() {
      padding-top: 50px;
    }
    > main {}
  }
  > div.overlay-container {
    position: fixed;
    top: $mobileHeaderHeight;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: calc(100% - #{$mobileHeaderHeight});
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: z-index(content) + 1;
    visibility: hidden;
    opacity: 0;
    background-color: $color02;
    transition: opacity $transTime ease;
    @include for-media-query(tablet-lg) {
      top: $desktopHeaderHeight;
    }
    @include for-print() {
      position: static;
      height: auto;
    }
  }
  &.hasOpenOverlay {
    overflow: hidden;
    @include for-print() {
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
    }
    > div.header-container {
      @include for-print() {
        order: 1;
        flex-basis: 100%;
      }
    }
    > div.body-content-area {
      //max-height: 100vh;
      // overflow: hidden;
      @include for-print() {
        order: 3;
        flex-basis: 100%;
      }
      > main {
        @include for-print() {
          display: none;
        }
      }
    }
    > div.overlay-container {
      visibility: visible;
      opacity: 1;
      @include for-print() {
        order: 2;
        flex-basis: 100%;
      }
    }
  }
  &.isClosingOverlay {
    > div.overlay-container {
      visibility: visible;
      opacity: 0;
    }
  }
}
